.App {

}

.verticel-devider {
  width: 2px;
  height:auto;
  background-color: rgb(155, 155, 155);
}

body {
  color: #ffffff;  
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;  
}